<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: "310803435708954" %>
  <%= tag :meta, property: "og:site_name", content: "Mrktplc" %>
  <%= tag :meta, property: "og:type", content: "mrktplc:item" %>
  <%= tag :meta, property: "og:title", content: @listing.name %>
  <%= tag :meta, property: "og:url", content: request.protocol + request.host_with_port + listing_path(@listing) %>
  <%= tag :meta, property: "og:image", content: request.protocol + request.host_with_port + image_path(@listing.image) %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="container-fluid listing-title">
	<%= @listing.name %>
</div>
<div class="container-fluid" align="center">
	<hr class="blackline" style="margin-top:-25px;padding-bottom:40px;">
</div>

<div class="container-fluid" align="center">
	<div class="listing-description">
		<div class="listing-description-title">
			Summary
		</div>
			<%= @listing.description %>
	</div>
	<img src="/assets/bike_1.png" class='gallery'>
	<img src="/assets/bike_2.png" class='gallery'>
	<img src="/assets/bike_3.png" class='gallery'>
	<br>
	<img src="/assets/mini_price.png" class="price_box">
</div>